* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#up-front {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
#up-front p {
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.16em;
  padding: 8px;
  margin: 0;
}

#nav-bar-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#nav-bar-top ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

#nav-bar-top .hamburger {
  display: none;
}

#nav-bar-top ul li {
  list-style-type: none;
  font-size: 12px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
}
#nav-bar-top .logo-bar .lazy {
  margin-right: 16px;
}

#main-section-1 {
  background-color: #000000;
  width: 100%;
}

#main-section-1 .sub-section-1 {
  display: flex;
  width: 100%;
}

.sub-section-1 .text-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  color: #ffffff;
}

.sub-section-1 .text-content h2 {
  margin-bottom: 46px;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.08em;
}

.sub-section-1 .text-content p {
  font-size: 14px;
  font-weight: 200;
}

.sub-section-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.sub-section-2 img {
  max-width: 680px;
  margin: 80px 40px;
}

.sub-section-2 div {
  max-width: 600px;
}

.sub-section-2 div p {
  color: #ffffff;
  font-weight: 200;
}

.sub-section-2 div .bold {
  font-weight: 400;
  font-style: normal;
  max-width: 425px;
}

.sub-section-2 div .bold span {
  color: #c2a578;
}

.sub-section-2 h1 {
  color: #ffffff;
  font-size: 40px;
  max-width: 417px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.sub-section-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0 40px 80px;
}

.sub-section-3 h3 {
  margin-top: 80px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
}

#carousel {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  overflow-y: scroll;
}

#carousel .product {
  font-weight: 300;
  max-width: 328px;
}

#carousel .product p {
  margin: 8px 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

#carousel .product .image-wrap {
  width: 100%;
}
#carousel .product .image-wrap img {
  max-width: 328px;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #f1f1f1;
  height: 438px;
  padding-top: 80px;
  z-index: -1;
}

.footer .column-1 {
  z-index: 2;
}

.footer .column-1 .header {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

.footer .column-1 .input-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 460px;
  border-bottom: 1px solid #c4c4c4;
  padding: 10px 0;
}

.footer .column-1 .input-holder:hover {
  border-bottom: 1px solid rgb(146, 146, 255);
}

.footer .column-1 .input-holder img {
  height: 100%;
}

.footer .column-1 .input-holder input {
  border: none;
  width: 400px;
  background: transparent;
  outline: none;
}
.footer .column-1 .input-holder input::placeholder {
  color: #000000;
  opacity: 0.3;
  font-weight: 200;
}

.footer .column-1 .input-holder input:focus {
  outline: none;
}

.footer .column-1 .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  margin-top: 26px;
}

.footer .column-1 .socials img {
  width: 16px;
  height: 16px;
}

.footer .column-1 ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  gap: 12px;
}

.footer .column-1 ul li {
  list-style-type: none;
  color: #000000;
  opacity: 0.5;
  font-size: 14px;
  font-weight: 200;
}

.footer .copyright {
  display: none;
}

.transparent-logo {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 449px;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  #nav-bar-top {
    padding: 16px 0;
  }

  #nav-bar-top ul {
    display: none;
  }

  #nav-bar-top .-x {
    display: none;
  }

  #nav-bar-top .hamburger {
    display: block;
  }

  #main-section-1 .sub-section-1 {
    flex-direction: column;
  }

  #main-section-1 .sub-section-1 .text-content {
    gap: 19px;
  }

  .sub-section-1 .text-content h2 {
    font-size: 18px;
    margin: 0;
  }

  .sub-section-2 {
    flex-direction: column;
    margin-top: 50px;
  }
  .sub-section-2 img {
    max-width: 343px;
    margin: 40px;
  }
  .sub-section-2 div {
    margin: 0 19px;
    font-size: 12px;
  }
  .sub-section-2 div .bold {
    color: #ffffff;
    font-weight: 200;
  }
  .sub-section-2 h1 {
    font-size: 25px;
    margin: 10px 19px;
  }
  .sub-section-3 h3 {
    font-size: 18px;
  }
  #carousel .product .image-wrap img {
    width: 167px;
  }

  .footer {
    flex-direction: column;
    height: 100%;
    padding: 40px 30px;
  }
  .footer .column-1 {
    width: 100%;
  }
  .footer .column-1 .input-holder {
    width: 100%;
  }
  .footer .column-1 .input-holder input {
    width: 100%;
  }
  .footer .copyright {
    display: block;
    text-align: center;
    font-size: 14px;
    opacity: 0.2;
    font-weight: 200;
  }

  .transparent-logo {
    display: none;
  }
}
/* Mobile */
