* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#up-front {
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
}
#up-front p {
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.16em;
}

#nav-bar-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#nav-bar-top ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

#nav-bar-top ul li {
  list-style-type: none;
  font-size: 12px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
}
#nav-bar-top .logo-bar .lazy {
  margin-right: 16px;
}

#main-section-1 {
  background-color: #000000;
  width: 100%;
}

#main-section-1 .sub-section-1 {
  display: flex;
  width: 100%;
}

.sub-section-1 .text-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  color: #ffffff;
}

.sub-section-1 .text-content h2 {
  margin-bottom: 46px;
  font-size: 28px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.08em;
}

.sub-section-1 .text-content p {
  font-size: 14px;
  font-weight: 200;
}

.sub-section-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.sub-section-2 img {
  max-width: 680px;
  margin: 80px 40px;
}

.sub-section-2 div {
  max-width: 600px;
}

.sub-section-2 div p {
  color: #ffffff;
  font-weight: 200;
}

.sub-section-2 div .bold {
  font-weight: 400;
  font-style: normal;
  max-width: 425px;
}

.sub-section-2 div .bold span {
  color: #c2a578;
}

.sub-section-2 h1 {
  color: #ffffff;
  font-size: 40px;
  max-width: 417px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.sub-section-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0 40px;
}

.sub-section-3 h3 {
  margin-top: 80px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
}

#carousel {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  overflow-y: scroll;
}

#carousel .product {
  font-weight: 300;
  max-width: 328px;
}

#carousel .product p {
  margin: 8px 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.16em;
  text-transform: uppercase;
}

#carousel .product .image-wrap {
  width: 100%;
}
#carousel .product .image-wrap img {
  max-width: 328px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  height: 438px;
}

.footer .column-1 .header {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
}

.footer .column-1 .input-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 460px;
  border-bottom: 1px solid #c4c4c4;
  padding: 10px 0;
}

.footer .column-1 .input-holder img {
  height: 100%;
}

.footer .column-1 .input-holder input {
  border: none;
  width: 400px;
  background: transparent;
}
.footer .column-1 .input-holder input::placeholder {
  color: #000000;
  opacity: 0.3;
}
